doctype html
html
  head
    title Project 4
    link(rel='stylesheet' href='./css/style.css')
  body
    h1 TODO List Application
    form#input(action='/' method='post')
      label(for='item') TODO:
      input#item(type='text' name='todo')
      input#button(type='submit' value='Add')
    
    h2 My Items:
    ul
      - for (let i = 0; i < tasks.length; i++)
        li
          | #{tasks[i].id} #{tasks[i].task}
          form(action="/delete", method="post")
            input(type="hidden", name="id" value=tasks[i].id)
            input(type="submit" value="Delete")